@mixin flex($flexDirection, $alignItems, $justifyContent){
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

.app-container {
  @include flex(column, center, space-between);
  width: 100%;
}

.create-container {
  @include flex(column, center, flex-start);
  width: 100%;
  min-height: 700px;
}

.selected-colors-container,
.darker-and-lighter-container {
  @include flex(column, flex-start, space-around);
  width: 1200px;
  height: 220px;
  margin: auto;
  margin-top: 50px;  
  margin-bottom: 40px;
  padding: 30px;
  background-color: #fff;
}

.darker-and-lighter-container {
  height: 370px;
  .btns-container {
    @include flex(row, center, flex-start);
    width: 100%; 
  }
}